html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: hsl(216deg, 12%, 8%);
}
body .form-group {
  margin: 0 auto;
  border-width: thick;
  border-radius: 40px;
  display: grid;
  grid-template-areas: "icon-star" "how-did-we-do " "rating-state-start " "submit ";
  grid-template-rows: repeat(4, 1fr);
  justify-items: center;
  align-items: center;
  width: 500px;
  max-width: 100vw;
  height: 70vh;
  min-height: 25rem;
  background-color: hsl(213deg, 19%, 18%);
}
body .hide .form-group {
  display: none;
}

.icon-star {
  grid-area: icon-star;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-right: 70%;
  background-color: hsl(214deg, 13%, 21%);
  border: 1px solid transparent;
  height: 5ch;
  width: 5ch;
  border-radius: 50%;
  cursor: pointer;
}
.icon-star img {
  width: 40%;
}

.how-did-we-do {
  grid-area: how-did-we-do;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 2em 0 2em;
  font-family: "Poppins", sans-serif;
}
.how-did-we-do h1 {
  color: hsl(0deg, 0%, 100%);
  font-weight: 400;
}
.how-did-we-do p {
  color: hsl(216deg, 12%, 54%);
  font-size: 0.938rem;
  font-weight: 400;
}

.rating-state-start {
  grid-area: rating-state-start;
  display: flex;
  justify-content: center;
  align-items: center;
}
.rating-state-start__start-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: "Poppins", sans-serif;
  gap: 1ch;
  width: 300px;
  max-width: 300px;
}
.rating-state-start__start-group [aria-selected=false] {
  background-color: hsl(214deg, 13%, 21%);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 5ch;
  width: 50px;
  border-radius: 50%;
  color: hsl(216deg, 12%, 54%);
  font-weight: lighter;
  border: 1px solid transparent;
  font-size: 0.9rem;
  cursor: pointer;
}
.rating-state-start__start-group [aria-selected=false]:hover {
  background-color: hsl(217deg, 12%, 63%);
  color: hsl(0deg, 0%, 100%);
}
.rating-state-start__start-group .active:focus {
  background-color: hsl(25deg, 97%, 53%);
  color: hsl(0deg, 0%, 100%);
}

.submit {
  grid-area: submit;
}
.submit__submit-btn {
  background-color: hsl(25deg, 97%, 53%);
  border: transparent;
  border-radius: 2em;
  width: 300px;
  max-width: 300px;
  height: 7vh;
  min-height: 3rem;
  color: hsl(0deg, 0%, 100%);
  font-size: 1rem;
  cursor: pointer;
}
.submit__submit-btn:hover {
  background-color: hsl(0deg, 0%, 100%);
  color: hsl(25deg, 97%, 53%);
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: hsl(216deg, 12%, 8%);
}
body .form-group-2 {
  margin: 0 auto;
  border-width: thick;
  border-radius: 40px;
  display: grid;
  grid-template-areas: "thank-you-illustration" "selected-content " "thank-you-content ";
  grid-template-rows: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  width: 500px;
  max-width: 100vw;
  height: 70vh;
  min-height: 25rem;
  background-color: hsl(213deg, 19%, 18%);
}
body .hide {
  display: none;
}

.thank-you-illustration {
  grid-area: thank-you-illustration;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding-top: 2em;
}
.thank-you-illustration img {
  width: 160px;
}

.selected-content {
  grid-area: selected-content;
  display: flex;
  justify-content: center;
  align-items: center;
}
.selected-content__btn {
  background-color: hsl(214deg, 13%, 21%);
  border: transparent;
  border-radius: 2em;
  width: 200px;
  max-width: 300px;
  height: 5vh;
  min-height: 2.5rem;
  color: hsl(25deg, 97%, 53%);
  font-size: 0.85rem;
  cursor: pointer;
}

.thank-you-content {
  grid-area: thank-you-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 2em 0 2em;
  font-family: "Poppins", sans-serif;
  display: block;
}
.thank-you-content h1 {
  color: hsl(0deg, 0%, 100%);
  font-weight: 400;
  font-size: 1.8rem;
  text-align: center;
}
.thank-you-content p {
  color: hsl(216deg, 12%, 54%);
  font-size: 0.938rem;
  font-weight: 400;
  text-align: center;
  padding-bottom: 1em;
}

/*# sourceMappingURL=styles.css.map */
