@use '../colors/colors' as *;
@use '../components/mixing' as *;

.thank-you-illustration {
  grid-area: thank-you-illustration;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding-top: 2em;

  img {
    width: 160px;
  }
}
